{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
  <title>TreasureGram</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top text-center">
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="TreasureGram">
    </a>
    {% if user.is_authenticated %}
      <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}">{{ user.username }}</a>
      <a class="navbar-text navbar-right" href="{% url 'logout' %}">logout</a>
    {% else %}
      <a class="navbar-text navbar-right" href="{% url 'login' %}">login</a>
    {% endif %}
  </nav>
  <main class="container container--mw700" role="main">
    {% block content %}
    {% endblock %}
  </main>
</html>
