{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <h1 class="text-center">{{username}}</h1>
  </div>
  <div class="row">
    {% for treasure in treasures %}
    <div class="col-md-4">
      <div class="treasure panel panel-default">
        <div class="panel-heading">
          <a href="/{{treasure.id}}/"><h2 class="panel-title">{{treasure.name}}</h2></a>
        </div>
        <div class="treasure-photo">
          <img src="{{ treasure.imgage.url }}" height="100" alt="">
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
       </div><div class="row">
    {% endif %}
  </div>
    {% endfor %}
    <form enctype="multipart/form-data" class="new_treasure" action="post_treasure/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="" value="Submit">
    </form>
{% endblock %}
